.App {
  background-color: rgb(64, 64, 64);
  text-align: center;
}

.App-header {
  background-color: slateblue;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 0.9em;
}

.link {
  position: absolute;
}

.linkToReport {
  position: absolute;
  right: 20px;
  top: 112px;
}

.loading {
  background-color: rgb(241, 241, 241);
  height: 150px;
}

.loading > h1 {
  margin: 0 auto;
}

.price-card {
  border-bottom: 2px solid;
  padding: 10px 0 10px 0;
}

.exchange {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  width: 27%;
}

.exchangeTitle {
  border-bottom: 2px solid;
  color: slateblue;
  font-size: 2.5rem;
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

.reportTable {
  display: inline-block;
  margin: 0 10px 0 10px;
  width: 31%;
}

.currencyName {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

table {
  border-collapse: collapse;
}

thead span {
  display: block;
  border-bottom: 1px solid black;
}

tr {
  border-bottom: 1px solid black;
  height: 40px;
}

.currencyRow {
  border: none;
}

td {
  padding: 3px;
}

.dateCell {
  font-size: 20px;
  text-align: center;
}

.priceCell {
  font-size: 20px;
  text-align: center;
}
