.App {
  background-color: rgb(64, 64, 64);
  text-align: center;
}

.App-header {
  background-color: slateblue;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 0.9em;
}

.loading {
  background-color: rgb(241, 241, 241);
  height: 150px;
}

.loading > h1 {
  margin: 0 auto;
}

.price-card {
  border-bottom: 2px solid;
  margin: 40px 0 40px 0;
}

.exchange {
  background-color: rgb(241, 241, 241);
  display: inline-block;
  width: 27%;
}

.exchangeTitle {
  font-size: 2.5rem;
  border-bottom: 2px solid;
}
