.App {
  background-color: #f1f3f5;
  text-align: center;
}

.App-header {
  background-color: slateblue;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 0.9em;
}

.dashBoard {
  background-color: #ffffff;
  border: 0.5px solid #979797;
  display: inline-block;
  width: 85%;
}

.reportPage {
  background-color: #f1f3f5;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.reportsDash {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 95%;
}

.link {
  position: absolute;
}

.linkHome {
  background-color: slateblue;
  border-color: #d3d3d3;
  border-width: 2px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  left: 5px;
  opacity: 0.9;
  position: absolute;
  top: 5px;
  width: 170px;
}

.linkHome:hover {
  opacity: 1;
}

.linkHome:focus {
  outline: none;
}

.linkToReport {
  background-color: #ffffff;
  border-color: #d3d3d3;
  border-width: 2px;
  color: slateblue;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  opacity: 0.9;
  position: absolute;
  right: 20px;
  top: 88px;
  width: 170px;
}

.linkToReport:hover {
  opacity: 1;
}

.linkToReport:focus {
  outline: none;
}

.loading {
  background-color: #f1f3f5;
  height: 150px;
}

.loading > h1 {
  margin: 0 auto;
}

.price-card {
  border-bottom: 2px solid;
  padding: 10px 0 10px 0;
}

.exchange {
  display: inline-block;
  width: 31%;
}

.exchangeTitle {
  border-bottom: 2px solid;
  color: slateblue;
  font-size: 2.5rem;
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

.reportTitle {
  color: #5e5e5e;
  font-size: 16px;
  position: absolute;
  right: 250px;
  top: 5px;
}

.reportTable {
  display: inline-block;
  margin: 0 10px 0 10px;
  width: 31%;
}

.currencyRow {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

table {
  border-collapse: collapse;
}

thead span {
  border-bottom: 2px solid slateblue;
  color: slateblue;
  display: block;
}

tr {
  border-bottom: 1px solid black;
  height: 40px;
}

.currencyRow {
  border: none;
}

td {
  padding: 3px;
}

.bestValue {
  background-color: #86ffbd;
}

.dateCell {
  font-size: 14px;
  padding: 0 15px 0 0;
}

.priceCell {
  color: slateblue;
  font-weight: 600;
}

.headerCell {
  font-size: 20px;
  text-align: center;
}
